<section class="todo-block todo__block">
  <div class="todo__add">
    <h1 class="todo__header">Todo List</h1>
    <form [formGroup]="form" class="form">
        <mat-form-field class="form__input">
            <input matInput formControlName="inputItem">
        </mat-form-field> 
        <button mat-mini-fab
                aria-label="add new todo"
                type="submit"
                (click)="addNewItem()"
                [disabled]="form.invalid"
                class="form__button">
                <span class="material-icons">add</span>
        </button>
    </form>
    <span class="message-error">{{messageError}}</span>
  </div>

  <app-todo-list-incomplete [inputList]="incompleteList" 
                            (changeItem)="changeItem($event)" 
                            (removeItem)="removeItem($event)"
                            (editTask)="editTask($event)"
                            class="todo__list">
  </app-todo-list-incomplete>
  
  <app-todo-list-completed [inputList]="completedList"
                           (changeItem)="changeItem($event)" 
                           (removeItem)="removeItem($event)"
                           class="todo__list">
  </app-todo-list-completed>

</section>
    
  
  
  